# Python
__pycache__/
*.py[cod]
*.log

# SQLite
# *.sqlite3

# Virtual environments
env/
venv/

# VSCode
.vscode/

# Django
*.migrations/

# dotenv
.env

# OS
.DS_Store
Thumbs.db

__pycache__/
*.pyc
.env
venv/
env/
*.log
documents/